@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: transparent;
  overflow: hidden;



  span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


    &:nth-child(0) {
      color: #e9ecff;
      top: 50%;
      left: 30%;
      animation-duration: 16s;
      animation-delay: -27s;
      transform-origin: -22vw 1vh;
      box-shadow: -40vmin 0 5.758529936303117vmin currentColor;
    }

    &:nth-child(1) {
      color: #e9ecff;
      top: 9%;
      left: 8%;
      animation-duration: 37s;
      animation-delay: -21s;
      transform-origin: -24vw -14vh;
      box-shadow: 40vmin 0 5.751072281787808vmin currentColor;
    }

    &:nth-child(2) {
      color: #e9ecff;
      top: 49%;
      left: 80%;
      animation-duration: 50s;
      animation-delay: -24s;
      transform-origin: 12vw 16vh;
      box-shadow: 40vmin 0 5.9410393852375085vmin currentColor;
    }

    &:nth-child(3) {
      color: #e9ecff;
      top: 20%;
      left: 44%;
      animation-duration: 55s;
      animation-delay: -37s;
      transform-origin: 25vw -1vh;
      box-shadow: -40vmin 0 5.622179280554398vmin currentColor;
    }

    &:nth-child(4) {
      color: #e9ecff;
      top: 14%;
      left: 7%;
      animation-duration: 15s;
      animation-delay: -42s;
      transform-origin: -4vw -14vh;
      box-shadow: 40vmin 0 5.05813745727659vmin currentColor;
    }

    &:nth-child(5) {
      color: #e9ecff;
      top: 57%;
      left: 29%;
      animation-duration: 18s;
      animation-delay: -49s;
      transform-origin: -21vw 0vh;
      box-shadow: 40vmin 0 5.096390898773189vmin currentColor;
    }

    &:nth-child(6) {
      color: #e9ecff;
      top: 16%;
      left: 35%;
      animation-duration: 18s;
      animation-delay: -31s;
      transform-origin: 6vw -2vh;
      box-shadow: 40vmin 0 5.34189625525628vmin currentColor;
    }

    &:nth-child(7) {
      color: #e9ecff;
      top: 51%;
      left: 95%;
      animation-duration: 18s;
      animation-delay: -10s;
      transform-origin: 9vw 17vh;
      box-shadow: 40vmin 0 5.561401005757505vmin currentColor;
    }

    &:nth-child(8) {
      color: #e9ecff;
      top: 97%;
      left: 46%;
      animation-duration: 45s;
      animation-delay: -3s;
      transform-origin: 11vw -1vh;
      box-shadow: 40vmin 0 5.56740228137805vmin currentColor;
    }

    &:nth-child(9) {
      color: #efe2fd;
      top: 7%;
      left: 85%;
      animation-duration: 30s;
      animation-delay: -17s;
      transform-origin: -19vw -21vh;
      box-shadow: 40vmin 0 5.034469854650241vmin currentColor;
    }

    &:nth-child(10) {
      color: #efe2fd;
      top: 20%;
      left: 61%;
      animation-duration: 48s;
      animation-delay: -11s;
      transform-origin: 17vw -13vh;
      box-shadow: 40vmin 0 5.699336809327546vmin currentColor;
    }

    &:nth-child(11) {
      color: #efe2fd;
      top: 31%;
      left: 30%;
      animation-duration: 27s;
      animation-delay: -31s;
      transform-origin: -12vw -19vh;
      box-shadow: -40vmin 0 5.861308994297341vmin currentColor;
    }

    &:nth-child(12) {
      color: #efe2fd;
      top: 39%;
      left: 50%;
      animation-duration: 13s;
      animation-delay: -22s;
      transform-origin: -8vw 8vh;
      box-shadow: -40vmin 0 5.4575814634244vmin currentColor;
    }

    &:nth-child(13) {
      color: #efe2fd;
      top: 64%;
      left: 33%;
      animation-duration: 24s;
      animation-delay: -50s;
      transform-origin: 17vw -23vh;
      box-shadow: -40vmin 0 5.7542355142541535vmin currentColor;
    }

    &:nth-child(14) {
      color: #efe2fd;
      top: 83%;
      left: 44%;
      animation-duration: 16s;
      animation-delay: -26s;
      transform-origin: 3vw 23vh;
      box-shadow: -40vmin 0 5.540194504907365vmin currentColor;
    }

    &:nth-child(15) {
      color: #efe2fd;
      top: 30%;
      left: 15%;
      animation-duration: 52s;
      animation-delay: -34s;
      transform-origin: 1vw 14vh;
      box-shadow: 40vmin 0 5.109546346439579vmin currentColor;
    }

    &:nth-child(16) {
      color: #efe2fd;
      top: 37%;
      left: 18%;
      animation-duration: 14s;
      animation-delay: -23s;
      transform-origin: 13vw 13vh;
      box-shadow: -40vmin 0 5.266703751924629vmin currentColor;
    }

    &:nth-child(17) {
      color: #efe2fd;
      top: 31%;
      left: 40%;
      animation-duration: 10s;
      animation-delay: -14s;
      transform-origin: -21vw 12vh;
      box-shadow: -40vmin 0 5.821808623435322vmin currentColor;
    }

    &:nth-child(18) {
      color: #efe2fd;
      top: 61%;
      left: 38%;
      animation-duration: 8s;
      animation-delay: -34s;
      transform-origin: 19vw -15vh;
      box-shadow: -40vmin 0 5.120925181199455vmin currentColor;
    }

    &:nth-child(19) {
      color: #efe2fd;
      top: 27%;
      left: 26%;
      animation-duration: 44s;
      animation-delay: -47s;
      transform-origin: -22vw -5vh;
      box-shadow: 40vmin 0 5.353375816907702vmin currentColor;
    }
  }
}