.swiper-button {

  &-next,
  &-prev {
    top: 0 !important;
    right: 0 !important;
    padding: 0;
    transform: translateY(calc(-100% + 12px));

    border-radius: 100%;
    background: white;
    width: 32px !important;
    height: 32px !important;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);

    &::after {
      font-size: 14px !important;
      color: #6E6E73;
    }
  }

  &-next {}

  &-prev {
    left: unset !important;
    transform: translateY(calc(-100% + 12px)) translateX(calc(-100% - 8px))
  }
}

.swiper-cards {
  .swiper-slide {
    filter: grayscale(1);
    transition: all .4s linear;

    &-active {
      filter: grayscale(0);
    }
  }
}