// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

@import 'Anim';

body {
  background-color: #FCFCFC;
  scroll-behavior: auto !important;
  line-height: 150% !important;
  @apply transition-all;

  * {
    @apply transition-all;
    scroll-behavior: auto !important;
  }
}

.slide {
  position: absolute;
  inset: 0;

  &-in {
    @extend .slide;
    transform-origin: bottom
  }

  &-out {
    @extend .slide;
    transform-origin: top
  }
}

.footer {
  animation: fadeUp .4s ease;

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }

    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

.container {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    max-width: none;
  }

  @media screen and (max-width: 1024px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media screen and (max-width: 425px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: rgba(255, 255, 255, 0.25);
  transform-origin: 0%;
  z-index: 30;
}